.App {
  header {
    h2 {
      width: 85%;
      margin: 40px auto 24px;
    }
  }

  main {
    width: 85%;
    margin: 0 auto;
  }

  > footer {
    width: 85%;
    margin: 0 auto 24px;
    text-align: center;
    color: $black-color;
  }
}