// Colors
$black-color: #0D0D0D;
$white-color: #FFF;
$main-color: #05C7F2;
$text-color: #211D40;
$secondary-color: #05F2DB;
$dark-color: #0597F2;

// Fonts weight
$regular-font: 400;
$medium-font: 500;
$bold-font: 700;

// Font size
$regular-size: 16px;
$small-size: 14px;
$title-size: 20px;
$header-size: 24px;
$logo-size: 30px;